@import '../Countries/style.css';

.countries-page.desktop {
  gap: 32px;
}

.trip-grid.desktop-grid {
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.trip-card.desktop {
  padding: 18px 18px 20px;
}
