#day1ExpanderMorMex {
    background: url(./Day1Header.jpg);
    background-size: 92vw 28vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day2ExpanderMorMex {
    background: url(./Day2Header.jpg);
    background-size: 92vw 16vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day3ExpanderMorMex {
    background: url(./Day3Header.jpg);
    background-size: 92vw 14vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day4ExpanderMorMex {
    background: url(./Day4Header.jpg);
    background-size: 92vw 15vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day5ExpanderMorMex {
    background: url(./Day5Header.jpg);
    background-size: 92vw 15vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day6ExpanderMorMex {
    background: url(./Day6Header.jpg);
    background-size: 92vw 15vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day7ExpanderMorMex {
    background: url(./Day7Header.jpg);
    background-size: 92vw 15vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day8ExpanderMorMex {
    background: url(./Day8Header.jpg);
    background-size: 92vw 15vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day9ExpanderMorMex {
    background: url(./Day9Header.jpg);
    background-size: 92vw 15vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day10ExpanderMorMex {
    background: url(./Day10Header.jpg);
    background-size: 92vw 15vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day11ExpanderMorMex {
    background: url(./Day1Header.jpg);
    background-size: 92vw 15vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}


#day12ExpanderMorMex {
    background: url(./Day1Header.jpg);
    background-size: 92vw 15vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day13ExpanderMorMex {
    background: url(./Day1Header.jpg);
    background-size: 92vw 15vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day14ExpanderMorMex {
    background: url(./Day1Header.jpg);
    background-size: 92vw 15vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day15ExpanderMorMex {
    background: url(./Day1Header.jpg);
    background-size: 92vw 15vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.landscapePicture {
    width: 70vw;
    height: 21vh;
    border-radius: 5px;
    margin-top: 1.4vh;
    margin-bottom: 1.4vh;
}

.portraitPictures {
    width: 32vw;
    height: 24vh;
    border-radius: 5px;
    margin-top: 1.4vh;
    margin-bottom: 1.4vh;
}
