#day1ExpanderMorJpn {
    background: url(./Day1Header.jpg);
    background-size: 92vw 28vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day2ExpanderMorJpn {
    background: url(./Day2Header.jpg);
    background-size: 92vw 16vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day3ExpanderMorJpn {
    background: url(./Day3Header.jpg);
    background-size: 92vw 14vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day4ExpanderMorJpn {
    background: url(./Day4Header.jpg);
    background-size: 92vw 15vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day5ExpanderMorJpn {
    background: url(./Day5Header.jpg);
    background-size: 92vw 15vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day6ExpanderMorJpn {
    background: url(./Day6Header.jpg);
    background-size: 92vw 15vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day7ExpanderMorJpn {
    background: url(./Day7Header.jpg);
    background-size: 92vw 15vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day8ExpanderMorJpn {
    background: url(./Day8Header.jpg);
    background-size: 92vw 15vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day9ExpanderMorJpn {
    background: url(./Day9Header.jpg);
    background-size: 92vw 15vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day10ExpanderMorJpn {
    background: url(./Day10Header.jpg);
    background-size: 92vw 15vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day11ExpanderMorJpn {
    background: url(./Day11Header.jpg);
    background-size: 92vw 15vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day12ExpanderMorJpn {
    background: url(./Day12Header.jpg);
    background-size: 92vw 15vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day13ExpanderMorJpn {
    background: url(./Day13Header.jpg);
    background-size: 92vw 15vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day14ExpanderMorJpn {
    background: url(./Day14Header.jpg);
    background-size: 92vw 15vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day15ExpanderMorJpn {
    background: url(./Day15Header.jpg);
    background-size: 92vw 15vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.landscapePictures {
    width: 70vw;
    height: 21vh;
    border-radius: 5px;
    margin-top: 1.4vh;
    margin-bottom: 1.4vh;
}

.portraitPictures {
    width: 32vw;
    height: 24vh;
    border-radius: 5px;
    margin-top: 1.4vh;
    margin-bottom: 1.4vh;
}
