#day1ExpanderMorJpn {
    background: url(./Day1Header.jpg);
    background-size: 92vw 28vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day2ExpanderMorJpn {
    background: url(./Day2Header.jpg);
    background-size: 92vw 16vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day3ExpanderMorJpnJpn {
    background: url(./Day3Header.jpg);
    background-size: 92vw 14vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day4ExpanderMorJpn {
    background: url(./Day4Header.jpg);
    background-size: 92vw 15vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day5ExpanderMorJpn {
    background: url(./Day5Header.jpg);
    background-size: 92vw 15vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}