.landscapePictures {
    width: 60vw;
    height: 18vh;
    border-radius: 5px;
}

p {
    font-size: 12px;
    width: 80vw;
    margin-bottom: 5px;
    text-align: justify;
}

.days {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#expand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10%
}

.headings {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 92vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 2px
}

#introExpander {
    background: url(./Day1Pic1.jpg);
    background-size: 92vw 11vh;
    background-repeat: no-repeat;
}

#day1Expander {
    background: url(./Day1Pic2.jpg);
    background-size: 92vw 11vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day2Expander {
    background: url(./Day2Pic1.jpg);
    background-size: 92vw 11vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day3Expander {
    background: url(./Day3Pic1.jpg);
    background-size: 92vw 12vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day4Expander {
    background: url(./Day4Pic1.jpg);
    background-size: 92vw 11vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day5Expander {
    background: url(./Day5Pic1.jpg);
    background-size: 92vw 11vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day6Expander {
    background: url(./Day6Pic1.jpg);
    background-size: 92vw 12vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day7Expander {
    background: url(./Day7Pic1.jpg);
    background-size: 92vw 15vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day8Expander {
    background: url(./Day8Pic1.jpg);
    background-size: 92vw 13vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day9Expander {
    background: url(./Day9Pic1.jpg);
    background-size: 92vw 11vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day10Expander {
    background: url(./Day10Pic1.jpg);
    background-size: 92vw 11vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#day11Expander {
    background: url(./Day11Pic1.jpg);
    background-size: 92vw 11vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.dayHeader {
    color: black;
    font-size: 20px;
    margin-bottom: -20px;
    text-shadow: 
        -1px -1px 0 white,
         1px -1px 0 white,
        -1px  1px 0 white,
         1px  1px 0 white;
}

.introHeader {
    color: black;
    font-size: 20px;
    text-shadow: 
        -1px -1px 0 white,
         1px -1px 0 white,
        -1px  1px 0 white,
         1px  1px 0 white;
}

.dayLocation {
    color: black;
    text-shadow: 
        -1px -1px 0 white,
         1px -1px 0 white,
        -1px  1px 0 white,
         1px  1px 0 white;
}

.portraitPictures {
    width: 32vw;
    height: 24vh;
    border-radius: 5px;
}
